$def with (form)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login</title>
        <meta name="Login" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/normalize.css" type="text/css">
        <link rel="stylesheet" href="/static/styles.css" type="text/css">
    </head>

	<body>
        <div>
    		<h1>Login</h1>

    		<form action="" method="post">
    			$:form.render()
    		</form>
        </div>
	</body>
</html>